baseURL = 'https://sesceu.github.io/lw/'
languageCode = 'de-de'
title = 'Lightwave'
theme = 'lightwave'

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[params]
  description = "A premium Hugo site for Lightwave Music & Event Company."
  author = "Lightwave Team"
  logo = "img/lightwave_logo.svg"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true
        title = true

[outputs]
  home = ["HTML", "JSON"]

[[menus.main]]
  name = 'Home'
  pageRef = '/'
  weight = 10

[[menus.main]]
  name = 'Posts'
  pageRef = '/posts'
  weight = 20
